#issue-tracker {
	position: fixed;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	cursor: auto;
	overflow: initial;
	padding: 10px;
	max-width: unset !important;
	min-width: 600px;
	z-index: 9999;
	color: #172b4d;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	letter-spacing: 0;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	margin: 0 !important;
}

#issue-tracker #titlehover {
	font-weight: bold;
	font-size: 16px;
}

#issue-tracker .aui-css-arrow {
	width: 1px;
	position: absolute;
	height: 16px;
	margin: 0;
	padding: 0;
}

#issue-tracker .aui-bottom-arrow {
	border-top-color: #fff;
}

#issue-tracker .aui-css-arrow:before {
	border-color: #dfe1e6 transparent;
	border-style: solid;
	border-width: 0 8px 8px;
	content: "";
	left: -8px;
	position: absolute;
	top: 0;
}

#issue-tracker .aui-css-arrow:after {
	border-color: #dfe1e6 transparent;
	border-style: solid;
	border-width: 0 8px 8px;
	content: "";
	left: -8px;
	position: absolute;
	border-bottom-color: #fff;
	top: 1px;
}

#issue-tracker .aui-bottom-arrow:before {
	border-color: #dfe1e6 transparent;
	border-style: solid;
	border-width: 8px 8px 0;
	content: "";
	left: -8px;
	position: absolute;
	top: 0;
}

#issue-tracker .aui-bottom-arrow:after {
	border-top-color: #fff !important;
	top: -1px;
	border-width: 8px 8px 0;
	border-bottom-color: #fff;
	border-color: #dfe1e6 transparent;
	border-style: solid;
	content: "";
	left: -8px;
	position: absolute;
}

#issue-tracker .aui-css-arrow:not(.aui-bottom-arrow) {
	top: -8px;
}

#issue-tracker .aui-css-arrow.aui-bottom-arrow {
	top: 100%;
}

#issue-tracker #dialog-contents {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#issue-tracker #scrollableDiv {
	min-width: 600px;
	min-height: 65px;
	overflow: hidden;
	width: 600px;
	display: block;
	margin: 0 7px 0 0;
	list-style: none;
}

#issue-tracker .item {
	float: left;
	overflow-wrap: break-word;
	width: 100%;
	margin: 1px 0 0 0;
}

#issue-tracker .item p {
	margin: 10px 0 0;
}

#issue-tracker img {
	vertical-align: text-bottom;
}

#issue-tracker h1, #issue-tracker h2 {
	font-weight: 500;
	text-transform: none;
	margin: 30px 0 0;
}

#issue-tracker h3, #issue-tracker h4, #issue-tracker h5, #issue-tracker h6 {
	margin: 0;
}

#issue-tracker h4 {
	font-weight: 600;
}

#issue-tracker .aui-avatar {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	vertical-align: text-bottom;
	height: 16px;
	max-width: 16px;
	max-height: 16px;
	width: 16px;
}

#issue-tracker .aui-avatar img {
	width: 100%;
}

#issue-tracker .item strong.name {
	width: 150px;
	text-align: left;
	float: left;
	box-sizing: border-box;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: #6b778c;
	display: inline-block;
	font-weight: normal;
	padding: 2px 5px 2px 0;
}

#issue-tracker .item>span {
	display: table;
	min-width: 200px !important;
}

#issue-tracker .resizer {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	z-index: 9999;
}

#issue-tracker #resizerNW {
	top: 6px;
	left: 6px;
	border-width: 7px 7px 0 0;
	border-color: #C1C1C1 transparent transparent transparent;
	cursor: nw-resize;
}

#issue-tracker #resizerNE {
	top: 6px;
	right: 6px;
	border-width: 0 7px 7px 0;
	border-color: transparent #C1C1C1 transparent transparent;
	cursor: ne-resize;
}

#issue-tracker #resizerSE {
	bottom: 6px;
	right: 6px;
	border-width: 0 0 7px 7px;
	border-color: transparent transparent #C1C1C1 transparent;
	cursor: se-resize;
}

#issue-tracker #resizerSW {
	bottom: 6px;
	left: 6px;
	border-width: 7px 0 0 7px;
	border-color: transparent transparent transparent #C1C1C1;
	cursor: sw-resize;
}

#issue-tracker .nicescroll-rails {
	right: 4px !important;
	left: auto !important;
	z-index: 9998 !important;
}
